@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/*preloder */


#preloader{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
#preloader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}
/* Preloader end */


/* Navbar Start */
.navbar-brand{
    width: 200px;
    height: 55px;   
   
}


.navbar-nav li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #fff!important;
    position: relative;
    padding: 25px 0;
    text-transform: capitalize;
    
}
.navbar-nav li a::before{
    content: '';
    position: absolute;
    top: 72%;
    bottom: 50%;
    width: 0%;
    height: 4%;
    background: #fff;
    transition: all 0.3s linear;
    
}
.navbar-nav li a:hover::before{
    width: 80%;
}
.navbar-nav li .active::before{
    width: 80%!important;
}
.bg-light{
    background: transparent!important;
    transition:0.75s ease;
    
}


.navbar-nav li .dropdown{
    position: absolute;
    top: 105%;
    visibility: hidden;

}
.navbar-nav li .dropdown li{
    list-style-type: none;
    background-color: #6B6FFF;
    position: relative;
    text-align: left;
    visibility: hidden;
    transition:0.75s ease;  
}


.navbar-nav li .dropdown li a{
    text-decoration: none;
 
}


.navbar-nav li:hover .dropdown li{
    visibility: visible;
    transition:0.75s ease;
}
.navbar-nav li .dropdown li:hover a {
    color: #CCC5D0!important;
    transition:0.75s ease;
  
}
.navbar-nav li .dropdown li a:hover:before{
    width: 0%;

}

.drpdwn-one{
    width: 200px;
    padding-top: 15px;
    padding-left: 18px;
    padding-bottom: 15px;
    position: relative;
    left: -13%;
    transition:0.75s ease;
    visibility: hidden;

}
.drpdwn-two li{
    padding-top: 8px;
    padding-left: 18px;
    padding-bottom: 8px;
    position: relative;
    width: 200px;
    left: -152px;
    transition:0.75s ease;
    visibility: hidden;
}

.bar-icon{
    border: 1px solid #fff;
    padding: 8px 9px;
    color: #fff;
}
header.scrolled{
    background: #6B6FFF!important;
    transition: 0.75s ease;

}
.down_img{
    margin-left: 6px;
}
/* Navbar  end */

/* Header area start */
header{
    width: 100%;
    position: fixed;
    z-index: 11;
}
.header-image-area{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/header.jpg);
    background-size: cover;
    background-position: 50% 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 85%);
}

.header-image-area:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(53, 56, 152, 0.9), rgba(40, 42, 85, 0.8), rgba(21, 27, 51, 0.8));
}
.header-text{
    position: absolute;
    left: 0%;
    top: 37%;
    margin: auto;
    right: 0;
    text-align: center;

}
.header-text h1 {
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 900;
    letter-spacing: 1px;
}
.header-text h3 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #e5e5e5;
    font-weight: 400;
    line-height: 28px;
}
.learnmore{
    margin-top: 25px;
}

.learnmore a {
    background-color: #6B6FFF;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 25px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-size: 14px;
    font-weight: 700;
}
.learnmore a:hover{
    background-color: #fff;
    color: #6B6FFF;

}
/* header area end */

/* About-us area start */
.about-us-area{
    padding: 90px 80px;
}
.about-img {
    -webkit-box-shadow: 0 0 15px #dadbff;
    box-shadow: 0 0 15px #dadbff;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;

}

.about-img::before {
    position: absolute;
    left: -31px;
    top: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #EEEEFE;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.about-img::after {
    position: absolute;
    right: -31px;
    bottom: -30px;
    width: 90%;
    height: 92%;
    z-index: -1;
    content: '';
    background-color: #EEEEFE;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.about-img img {
    width: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;

}
.about-img img:hover{
    width: 100%;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.about-content {
    text-align: right;
    padding-top: 60px;
}
.section-title h4 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.section-title h2 {
    font-weight: 900;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #414142;
    padding-bottom: 20px;
    line-height: 1.2;
}
p{
    margin: 0 0 15px;
    font-size: 17px;
    line-height: 31px;
    color: #414142;
}

.section-button {
    margin-top: 40px;
}

.section-button a {
    background-color: #6B6FFF;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    text-align: center;
    -webkit-box-shadow: 0 5px 16px #bababa;
    box-shadow: 0 5px 16px #bababa;
    border: 1px solid transparent;
}
.section-button a:hover{
    background-color: #fff;
    color: #6B6FFF;
    border: 1px solid #6B6FFF;

}

/* About-us area start end*/



/****** Service area start ******/

.services-area {
    padding: 90px 80px;
    background-color: #f9f9ff;
}
.services-content{
    text-align: left;
}

.single-services {
    -webkit-box-shadow: 0 0 15px rgba(218, 219, 255, 0.4);
    box-shadow: 0 0 15px rgba(218, 219, 255, 0.4);
    text-align: center;
    padding: 50px 0 0 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background-color: #fff;
}
.single-services:hover {
    background-color: #EEEEFE;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 15px 15px 0px #edeaea;
    box-shadow: 0px 15px 15px 0px #edeaea;
}
.single-services img {
    margin-bottom: 30px;
}

.single-services h4 {
    padding-bottom: 50px;
    text-transform: uppercase;
    font-size: 18px;
    color: #555454;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 1.2;
}

/* services area end */

/* projects area start */

.projects-area {
    padding: 90px 80px;
}
.projects-content {
    text-align: left;
}

.project-heading h3 {
    position: relative;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #414142;
    font-size: 24px;
    line-height: 1.2;
}

.project-heading h3::before {
    position: absolute;
    content: "";
    width: 65%;
    height: 4px;
    background-color: #353899;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    bottom: -10px;
}

.projects-img img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.pa-margintop {
    padding-top: 40px;
    margin-bottom: 30px;
}

.single-project {
    position: relative;
    overflow: hidden;
}

.single-project img {
    transition: 1s;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.single-project:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}
.portfolio-text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(107, 111, 255, 0.2);
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 44%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    
}

.single-project:hover .portfolio-text {
    background-color: rgba(107, 111, 255, 0.5);
   
}

.portfolio-text h5 {
    color: #fff;
    margin: 0;
    font-size: 25px;
    margin-left: -780px;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    text-transform: capitalize;
    font-weight: 700;
}


.portfolio-text a {
    background-color: #fff;
    text-decoration: none;
    color: #6B6FFF;
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 30px;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-left: -785px;
}


.portfolio-text a:hover {
    background-color: #6B6FFF;
    color: #fff;
}

.single-project:hover .portfolio-text a {
    margin-left: 0
}

.single-project:hover .portfolio-text h5 {
    margin-left: 0
}   
.owl-theme .owl-dots .owl-dot span {
    background-color: rgba(107, 111, 255,0.5)!important;
    display: inline-block!important;
    height: 15px!important;
    margin: 0 3px!important;
    width: 15px!important;
    border-radius: 100%!important;
}
.owl-theme .owl-dot.active span {
    background-color: #6B6FFF !important;
    height: 15px;
    width: 15px;
    border-radius: 100%;

}

